/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:   #e0e0e0;
}

/* HEADER + NAV */
header {
    background-color:  #e0e0e0;
    padding: 20px;
    text-align: center;
}
.hero {position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;

}
.hero img {
    width:100%;
    height:100vh;
    overflow:hidden;
}
.hero-text {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    text-shadow:2px 2px 2px black;
}
nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:  #3d0d03ff;
    padding:15px 0;

}

nav a {
    color: white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}
nav a :hover {
    color:  #fcd5d5ff;
    text-decoration: underline;
}

/* TEXT */
main {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/* FOOTER */
footer {
    background-color: #2e1212ff;
    color: white;
    text-align: center;
    padding: 10px;
}
/* HAMBURGER MENU */
.hamburger img {
    width: 30px;
    height: 35px;
    cursor: pointer;
    display: none;
}

#hamburger_checkbox {
   display: none;
}

@media (max-width: 700px) {

   .hamburger img {
       display: block;
    }

    nav {
       display: none;
    }

    #hamburger_checkbox:checked + nav {
        display: block;
   }
}